<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarised.

Some of the popular languages that Data Scientists use are :
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Java</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Numpy</li>
    <li>Pandas</li>
    <li>TensorFlow</li>
    <li>Matplotlib</li>
</ol>

|Data Science Tools|
|:----------------:|
|Jupyter Notebook  |
|Apache Spark      |
|Github            |
|Apache Hadoop     |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [3]:
#This is a simple arithmetic expression to mutiply then add integers#
print(4*3+5)

17

In [4]:
#This will convert 200 minutes into hours
num_of_minutes = 200
num_of_hours = num_of_minutes/60
print(num_of_hours)

3.3333333333333335

<b>Objectives:</b>
<ul>
    <li>Listing popoular languages used in Data Science</li>
    <li>Listing popular libraries used in Data Science</li>
    <li>Listing popular Tools used in Data Science</li>
</ul>

<h2>Author</h2>

Abhineeth Anoop